extends layout

block content
  h1= title
  p This page is for use by hospital stuff only.

  h2 Critical undertakings:

  ul
    li
      a(href="/archive/hospital/create') Add new hospital
    li
      a(href="/archive/patient/create') Add a new patient
    li
      a(href='/archive/patient/validate') Check patient details
